<h1>Edit one blogpost</h1>
<form action= '/blogs/<%=blog._id %>?_method=PUT' method="POST">
    <input name="<%=blog.author%>" placeholder= "<%= blog.author %>" >
    <input name= "<%=blog.subject%>" placeholder = "<%= blog.subject %>" >
    <input name = "<%=blog.description%>" placeholder= "<%= blog.description %>" >
<button>submit</button>
</form>